@border-size: 1px;
@size: 16px;

html, body {
	margin: 0;
	padding: 0;

	width: 100%;
	height: 100%;

	font-family: sans-serif;

	cursor: default;
}

.fill {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.fixed {
	position: fixed;
}

.hue {
	.rainbow() {
		@steps: 6;
		.loop(@counter: @steps) when (@counter >= 0) {
			.loop((@counter - 1));    // next iteration
			background+: hsv(@counter/@steps*360, 1, 1) @counter/@steps*100%; // code for each iteration
		}

		background+: ~"linear-gradient(to right";
		.loop();
		background+_: ~")";
	}

	.rainbow();
}

.saturation {
	opacity: 0;
	background: white;
}

.value {
	background: linear-gradient(
		to bottom,
		transparent 0,
		black 100%
	);
}

.container {
	border-right: @border-size solid black;
}

.pointer {
	position: absolute;
	box-sizing: border-box;

	width: @size;
	height: @size;

	margin: -@size/2;

	border: @border-size solid white;
	border-radius: @size/2;
	box-shadow: 0 0 0 @border-size black,
		inset @size/12 @size/12 @size/4 0 rgba(255, 255, 255, 0.4),
		inset -@size/12 -@size/12 @size/4 0 rgba(0, 0, 0, 0.8);
}

.controls {
	position: absolute;
	padding: 32px;

	bottom: 0;

	&-left {
		left: 0;
		text-align: left;
	}

	&-right {
		right: 0;
		text-align: right;
	}
}

.control {
	display: block;
	box-sizing: border-box;

	margin-top: 6px;

	font-family: monospace;

	text-align: center;
	color: white;
	text-shadow: 1px 1px black, -1px -1px black, -1px 1px black, 1px -1px black;

	width: 200px;

	line-height: 30px;

	border: @border-size solid white;
	border-radius: @size/2;
	box-shadow: 0 0 0 @border-size black,
		inset @size/12 @size/12 @size/4 0 rgba(255, 255, 255, 0.4),
		inset -@size/12 -@size/12 @size/4 0 rgba(0, 0, 0, 0.8);

	transition: box-shadow 200ms ease;

	pointer-events: all;
	cursor: pointer;

	&:focus, &:active {
		outline: none;

		box-shadow: 0 0 0 @border-size black,
		inset -@size/12 -@size/12 @size/4 0 rgba(255, 255, 255, 0.4),
		inset @size/12 @size/12 @size/4 0 rgba(0, 0, 0, 0.8);
	}
}

.saturation-bar {
	width: 2em;
	border-left: @border-size solid white;
}

.saturation-pointer {
	@size: 16px;
	@width: 2em;

	position: absolute;
	box-sizing: border-box;

	width: 2em;
	height: @size;

	margin: -@size/2;

	border: @border-size solid white;
	border-radius: @size/4 @size/2 @size/2 @size/4;
	box-shadow: 0 0 0 @border-size black,
		inset @size/12 @size/12 @size/4 0 rgba(255, 255, 255, 0.4),
		inset -@size/12 -@size/12 @size/4 0 rgba(0, 0, 0, 0.8);
}
